.background {
  height: 100vh;
  background-size: cover;
  background-position: center;

  .content {
    display: flex;
    justify-content: flex-end;
    padding: 50px;

    .text-container {
      margin-top: 15rem;
      margin-right: 12rem;
      max-width: 50%;
      text-align: center;
      color: white;

      h1 {
        font-size: 48px;
      }

      h2 {
        font-size: 24px;
      }

      .home-button {
        margin-top: 1rem;
      }
    }
  }
}
